<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>


    <h1>Todos</h1>

    <div id="todos" data-controller="todos">
      <table>
        <thead>
          <tr>
            <th>Content</th>
            <th>Complete</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @todos.each do |todo| %>
            <tr data-target="todos.item">
              <td><%= todo.content %></td>
              <td><%= todo.complete %></td>
              <td><%= link_to 'Show', todo %></td>
              <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
              <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br />
      <a class="button is-primary is-small" data-action="click->todos#count">count</a>
      <a class="button is-success is-small" data-action="click->todos#openModal">
        Open Modal
      </a>
    </div>

    <hr />

    <%= link_to 'New Todo', new_todo_path %>

  </div>

  <div data-controller="modal" id="modal">
    <h1>Modal Control</h1>

    <a class="button is-warning" data-action="click->modal#open">
      Open Modal
    </a>
    <div class="modal" data-target="modal.body">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                  </a>
                  <a class="level-item">
                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                  </a>
                </div>
              </nav>
            </div>
            <div class="media-right">
              <button data-action="click->modal#close" class="delete"></button>
            </div>
          </article>
        </div>
      </div>
      <button data-action="click->modal#close" class="modal-close is-large" aria-label="close"></button>
    </div>
  </div>

</section>
